.desert {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.desert-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the video covers the entire area */
}